@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.container{
  width: 100%;
}

.h1__title{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 125px;
  font-weight: bold;
  letter-spacing: -15px;
  line-height: 1;
  color: whitesmoke;
  text-align: end;
  padding: 100px 100px;
  bottom: 40vh;
}

.background__section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 0;
}

 /*Navigator*/
  
 .nav{
  width: 100%;
  display: flex;
  height: auto;
}

.logo__div{
  width: 30%;
  display: flex;

}

.logo{

  height: 200px;
  width: auto;  
}

.navigator__nav{
  width: 70%;
  display: flex;
}

.navigator{
  height: 5vh;
  list-style: none;
  display: flex;
  gap: 70px;
  font-size: 25px;
  justify-content: flex-end;
  padding: 80px;
}

#active{
  color:#a5f7bd;
}

.navigator a{
  text-decoration: none;
  color: #F6EFEE;
  position: relative;
  overflow: hidden;
}

.navigator a:hover{
  color: #a5f7bd;
}

.navigator a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #a5f7bd;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.navigator a:hover:after {
  width: 100%;
  left: 0;
}

/*dropdown*/

.dropdown {
  list-style: none;
  display: inline-block;
  overflow: hidden;
}

button-2{
  text-decoration: none;
  color: #dbd2e0;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
  list-style: none;
}

.dropdown-content {
  margin: 0 -30px;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.322);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.315);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  text-align: center;
}

.dropdown__links{
  font-size: 20px;
}

/*Hamburguer*/

.navigator__nav a.icon{
  background-color: transparent;
  color: #F6EFEE;
  cursor: pointer;
  font-size: 50px;
  display: none;
  padding-right: 1em;
}

.column{
  flex-direction: column;
} 

.row{
  flex-direction: row;
}

.transparent{
    background-color: transparent;
  }
  
.transparent__black{
    background-color: rgb(0, 0, 0, .6);
}

.green__background{
  background-color: #edfcf2;
}

.white__background{
  background-color: rgb(255, 255, 255);
}

.gradient__background{
  background-image: linear-gradient(to bottom, #edfcf2, #6aa16e);
}

/*Footer*/

.footer{
  min-height: 7vh;
  background-color: #0a3317;
  color: #F6EFEE;
  display: flex;
  font-size: 20px;
  padding: 1vw 0 0 10vw;
}

.copyright{
  width: 50%;
}

.footer__links{
  display: flex;
  gap: 2vw;
  padding-left: 15vw;
}

.footer__links a{
  text-decoration: none;
  color: #F6EFEE;
  transition: all 0.3s ease-in-out;
}

.footer__links a:hover{
  -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media screen and (max-width: 900px){
  .footer{
    flex-direction: column;
    gap: 3vh;
    padding: 0;
  }

  .copyright{
    text-align: center;
    align-self: center;
    padding: 0;
  }

  .footer__links{
    align-self: center;
    padding: 0;
    gap: 12vw;
  }
}